@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@300;400;500;600;700&display=swap");
@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #3447ff;
  --sl-color-accent-high: #b3c7ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-color-bg-nav: #17181c70;
  --sl-color-bg: #17181c70;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #364bff;
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
  --sl-color-bg-nav: #ffffff70;
  --sl-color-bg: #ffffff70;
}
@layer base {
  * {
    font-family: "Noto Sans Myanmar", sans-serif;
    font-style: normal;
  }
  .main-pane ul,
  .main-pane ol {
    @apply px-5;
  }
  .sl-link-card {
    border: 1px solid var(--sl-color-gray-5);
    box-shadow: var(--sl-color-gray-3);
  }
}

@layer components {
  .path-card {
    margin-top: 0;
  }
}
.tagline {
  @apply mt-4;
}
.site-title img {
  height: 4rem;
  width: auto;
}
blockquote {
  background: var(--sl-color-bg-nav); /* light gray‑blue fill */
  border-left: 4px solid #c5ccd8; /* muted accent bar    */
  padding: 1rem 1.25rem; /* 16 px × 20 px space */
  margin: 1rem 0; /* breathing room      */
  border-radius: 0.25rem; /* soft corners        */
  font-size: 1rem;
  line-height: 1.5;
}
