---
import "../styles/global.css";
---

<div class="homepage-container">
  <section data-animate class="hero-section">
    <div class="hero-inner">
      <h1>Learn. Build.<br />Innovate.</h1>
    </div>
  </section>
</div>
