---
interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
}
import { Image } from "astro:assets";
const { src, alt, width, height } = Astro.props;
---

<div class="flex justify-center p-4">
  <Image src={src} alt={alt} width={Number(width)} height={Number(height)} />
</div>
