---
import Analytics from "@vercel/analytics/astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro</title>
    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="min-h-screen bg-white text-gray-900">
    <slot />
    <Analytics />
  </body>
</html>

<!-- ---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html> -->
